.bold {
    font-weight: bold;
}

/* Hamburger image styles */

.hamburger-image {
    display: flex;
    justify-content: center;
}

.hamburger-image img {
    width: 100%;
    background: no-repeat;
    object-fit: cover;
    height: 65vh;
}

.hamburger-image > .burger-text {
    position: absolute;
    bottom: 33vh;
    padding: 5px;
    background-color: white;
    width: auto;
}

/* Hamburger recipe styles */

.instructions {
    background-color: #dadfea;
    padding: 20px 70px;
}

.instructions > .time-columns {
    display: flex;
    justify-content: space-between;
}

.instructions > .time-columns > .column1 > .text1 {
    margin: 7px 0;
}

.instructions > .time-columns > .column2 > .text3 {
    margin: 7px 0;
}

.instructions > .time-columns > .column3 > .text5 {
    margin: 7px 0;
}

/* Bengal Burger Review Styles */

.checked {
    color: #a63223;
}

.review {
    padding: 70px;
    padding-bottom: 30px;
}

.review > .bengal-burger-text {
    display: flex;
    justify-content: center;;
}

.review > .review-stars {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.review > .review-stars p {
    margin: 0 10px;
}

.review > .save-recipe-button {
    display: flex;
    justify-content: center;
}

.save-recipe {
    background-color: #a63223;
    border: none;
    color: white;
    border-radius: 16px;
    border-color: #a63223;
    padding: 6px;
    width: 13vw;
    outline: none;
}

.review > .save-recipe-button i {
    margin: 0 10px;
    padding: 6px;
}